<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272916313574-5q0f1vm46k5vsrva8rof2j5bb03l84eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272916313574-5q0f1vm46k5vsrva8rof2j5bb03l84eu</string>
	<key>API_KEY</key>
	<string>AIzaSyCYqogj7z0C7is1pGHpfq-FZsL73rdJWQE</string>
	<key>GCM_SENDER_ID</key>
	<string>272916313574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusConnectApp</string>
	<key>PROJECT_ID</key>
	<string>campusconnect-48d5e</string>
	<key>STORAGE_BUCKET</key>
	<string>campusconnect-48d5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272916313574:ios:fbac8e522d51a7cc5cd227</string>
</dict>
</plist>